body {
  font-family: Arial;
  background-color: #f2f2f2;
  padding: 30px;
}

input {
  width: 200px;
  padding: 6px;
}

button {
  padding: 8px 15px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}
